# temp files #
##############
*.swp
*.pyc
*~

# Node #
########
*/node_modules/
node_modules/

# Eclipse #
###########
.project
.pydevproject
.settings/

# Test File #
#############
test/input.py
src/test.js
src/result.txt

# Compiled Coffeescript #
#########################
src/builtin/*.js

# Compiled Python #
###################
*.pyc
